.navbar-button  {
    margin-top: 0.5rem !important;
    color: white !important;
    display: block !important;
  }
  .selected {
    background-color: #f0f0f0; 
    color: #333; 
    text-decoration: underline;
  }
  