.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  background-color: #bfcfc7;
  background-image: url('../../assets/images/top-view-finance-business-elements.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
  .flex-center {
    background-size: 100% auto;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .flex-center {
    background-size: contain;
  }
}

@media (min-width: 1201px) {
  .flex-center {
    background-size: cover;
  }
}


.signup-container {
  margin-top: 50px;
  background-color: #bfcfc7;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
  padding: 20px;
}

.form-title {
  text-align: center;
  font-size: 1rem;
}

.form-input {
  width: 100%;
  margin: 8px 0;
}

.signup-button {
  margin-top: 20px;
  background-color: #134e4a !important;
  color: inherit;
}

.login-link-container {
  margin-top: 20px;
  text-align: center;
}


.login-link {
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #333;
  }
}